:root {
  --light-yellow:           #ffe21d;
  --dark-yellow:            #ffd21d;
  --opaque-yellow:          #ffefad;
  --light-blue:             #24afff;
  --dark-blue:              #248bff;
  --red:                    #f26c6c;
  --light-red:              #fdcaca;
  --green:                  #27b667;
  --light-green:            #a9cfba;
  --white:                  #ffffff;
  --background-color:       #ebe8e1;

  --font-size-default:        20px;
  --font-size-big:            30px;
  --font-size-small:          10px;
  --font-montserrat:          'Montserrat', sans-serif;

  --zero-space:               0px;
  --one-mm-space:             1mm;
  --default-space:            20px;
  --two-hundred-px-space:     200px;
  --three-hundred-px-space:   300px;

  --border-radius-default:    25px;
  --border-thickness-default: 0.75mm;
  --opacity-default:          0.5;
}
