:root {
  --text-primary:           #ffe21d;
  --dark-text-primary:      #ffd21d;
  --opaque-text-primary:    #ffefad;
  --text-secondary:         #24afff;
  --dark-text-secondary:    #248bff;
  --text-error:             #f26c6c;
  --light-text-error:       #fdcaca;
  --text-succes:            #27b667;
  --light-text-succes:      #a9cfba;
  --white:                  #ffffff;
  --bg-primary:             #ebe8e1;

  --font-size-default:        20px;
  --font-size-big:            30px;
  --font-size-small:          10px;
  --font-montserrat:          'Montserrat', sans-serif;

  --zero-space:               0px;
  --one-mm-space:             1mm;
  --default-space:            20px;
  --two-hundred-px-space:     200px;
  --three-hundred-px-space:   300px;

  --border-radius-default:    25px;
  --border-thickness-default: 0.75mm;
  --opacity-default:          0.5;
}
